<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tradingai.startup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/book/Desktop/trading_ai/startup_runner.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/book/Desktop/trading_ai/startup_runner.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/book/Desktop/trading_ai/startup_runner.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/book/Desktop/trading_ai</string>
</dict>
</plist>
